.navbar {
    box-shadow: 2px 2px 5px rgb(102, 102, 102);
    opacity: 0.9;
  }
  
  .main-header {
    background: url('/static/img/boychk.jpg');
    background-size: cover;
    background-position: center
}
.background-overlay {
    background: rgba(41, 128, 185,.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.main-header .btn{
    background: rgba(41, 128, 185,.9);
}
  

footer {
    background: rgba(83, 137, 173,.9);
}
  
#agendacita{
    color: rgba(83, 137, 173,.9);
}


 