{% extends 'base.html' %}

{% block head %}
    <title>Buscar Pacientes</title>
{% endblock %}

{% block body %}
<br><br><br><br>

    <h1>Citas disponibles</h1>
    <br><br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Cita</th>
            <th scope="col">Tratamiento</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
        <!-- Ponemos los datos de la BD -->
        {% for cita in citas %}
        <tr>
            <th scope="row">{{cita.id}}</th>
            <!-- Traducciones -->
            <td>{{tratamientos[(cita.tratamiento_id)-1].nombre}}</td>
            <td>{{status[cita.status]}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

{% endblock %}